// standard colours

$bg-colour: rgba(25, 104, 194, 0.849);
$bg-active: rgba(51, 117, 192, 0.849);
$font-colour: rgb(177, 167, 148);
$placeholder-colour:  rgb(209, 198, 177);
$checkbox-bgcolour: rgba(209, 198, 177, 0.719);
$link-colour :rgb(177, 167, 148);